<div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" rows=3 id="question" placeholder="Question"></textarea>
      </div>
    </div>
    <% _.each([1,2,3,4], function(e) { %>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Option <%- e %></label>
          <input type="text" class="form-control q-option" rows=3 data-elem="<%- e %>" placeholder="Question">
        </div>
      </div>
    <% }) %>
    <div class="text-center col-sm-12">
      <button class="text-center btn btn-default" id="save-question">Save</button>
    </div>
    <div class="col-sm-12 hide-t show-next-question-container">
      <a class="btn btn-default show-next-question">Add another question to the survey</a>
    </div>
</div>
